body {
    background-image: url('../Images/pexels-jeremy-bishop-8241100.jpg');
}
.quote {
    color: rgb(183, 153, 112);
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 200px;
    font-size: xx-large;
}

.openingQuote {
    display: flex;
    justify-content: center;
    text-align: center;
}

.character {
    margin-top: 30px;
}

body {
    background-color: antiquewhite;
}
